.App .orders-list-view .manager-alert {
  color: #cc0000;
  background-color: #ffeef1;
  padding: 16px 6px;
  max-width: 600px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid #e2b0b9;
  font-size: 1.1rem;
}
