body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: 'Lato', sans-serif;
}

hr {
  margin: 2rem 0;
}

.button + .button {
  margin-left: 10px;
}

/* get rid of some of Milligram's default purple coloring */
a {
  color: #337ab7;
}

select:focus {
  border-color: #64777b;
}
