.App .order-item-row .order-item-row-item + .order-item-row-item {
  margin-left: 30px;
  margin-top: 5px;
}

.App table thead tr th,
.App .order-item-row td.order-item-row-item {
  padding: .5rem;
  text-align: center;
}

.App table thead tr th:first-child,
.App .order-item-row td.order-item-row-item:first-child {
  text-align: left;
}

@media only screen and (min-width: 641px) {
  .App .order-item-row td {
    min-width: 160px;
  }
}
