.App .order-item-row .order-item-row-item + .order-item-row-item {
  margin-left: 30px;
  margin-top: 5px;
}

.App table thead tr th,
.App .order-item-row td.order-item-row-item {
  padding: .5rem;
  text-align: center;
}

.App table thead tr th:first-child,
.App .order-item-row td.order-item-row-item:first-child {
  text-align: left;
}

/* override styles of "remove item" button */
.App .order-item-row .remove-item-button {
  /* change coloring to red-ish */
  color: #ab1616;
  border-color: #ab1616;
  /* update display properties so it fits into a <tr> without any weird spacing issues */
  display: inline;
  padding: 9px 14px;
}

.App .order-item-row .remove-item-button:hover {
  background-color: #ab1616;
  color: white;
}

@media only screen and (min-width: 641px) {
  .App .order-item-row td {
    min-width: 160px;
  }
}
